<h1>Add Definitions for <%= @@word.word() %></h1>

<form action="/word/<%= @word.id() %>/definitions" method="post">
    <input type="hidden" name="word_id" id="word_id" value="<%= @word.id() %>">

    <label for="definition">Definition</label>
    <input type="text" name="definition" id="definition">

    <button type="submit_word">Add Definition</button>
</form>
