<h1>Urban Dictionary</h1>

<ul>
  <% @words.each() do |word| %>
    <li><a href='/word/<%= word.id() %>'><%= word.word().upcase() %></a></li>
    <p>//</p>
  <% end %>
</ul>

<br>

<a id='to_word_form' href='/word_form'>add a word</a>
