<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/styles.css")%>">
    <title>Urban Dictionary</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
