<h1>Add a Word</h1>

<form action="/word_add" method="post">
  <label for="word">Word</label>
  <input type="text" name="word" id="word">

  <button id="submit_word" type="submit">Add Word</button>
</form>
